body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 40px;
  font-weight: bold;
}

.toolbar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.tool {
  margin: 0 10px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  border: 1px solid black;
  width: 600px;
  height: 600px;
}

.grid-container > div {
  place-self: stretch;
}

.hint {
  text-align: center;
  font-size: 18px;
  color: grey;
  margin: 10px;
}

.footer {
  margin-top: auto;
}